.APP {
  height: 100%;
  display: flex;
  flex-direction: column;
  :global {
    .container {
      flex: 1;
      display: flex;
      flex-direction: row;
      .redux {
        flex: 1;
        background: blanchedalmond;
        &.mobx {
          background: seashell;
        }
      }
    }
  }
}